body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  text-align: center;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.column {
  background: white;
  padding: 15px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.tasks {
  min-height: 250px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.task {
  background: #eaf0ff;
  border: 2px solid #6b8cff;
  border-radius: 20px;
  padding: 6px 10px;
  margin-bottom: 8px;
  cursor: grab;
}

#reset-btn {
  margin: 15px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid rgb(98, 0, 255);
  background: rgba(255, 0, 0, 0.12);
  color: red;
  font-weight: 600;
  cursor: pointer;
}
.column h2 {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 20px;
  background: rgba(255, 0, 0, 0.12);   /* transparent red */
  border: 2px solid rgba(0, 255, 76, 0.6);
  color: #311cb9;
  font-weight: 600;
  margin-bottom: 12px;
  box-shadow: 0 4px 10px rgba(24, 30, 196, 0.15);
}

#todo h2 {
  background: rgba(105, 239, 68, 0.15);
  border-color: rgba(68, 102, 239, 0.7);
}

#doing h2 {
  background: rgba(36, 251, 165, 0.18);
  border-color: rgba(36, 108, 251, 0.8);
}

#done h2 {
  background: rgba(67, 34, 197, 0.18);
  border-color: rgba(34, 197, 94, 0.8);
}

.column input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 14px;
  border-radius: 20px;
  border: 2px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #6b8cff, #ff6b6b) border-box;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}

.column input:focus {
  box-shadow: 0 0 8px rgba(107, 140, 255, 0.4);
}
